html, body {
    color: white;
    background-color: #21232a;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 3rem;
}

button {
    padding: 1rem;
    font-size: 1.3rem;
    margin-right: 1rem;
}