.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.9rem 0.6rem 0.9rem;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.3rem;
}

.notes__content-input,
.notes__content-textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

.notes__content-input {
  color: $dark-grey;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.notes__content-textarea {
  color: $dark-grey;
  font-size: 1.3rem;
  flex: 1 1 auto;
  resize: none;
}

.notes__image {
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
    width: 150px;
    
    img {
        width: 100%;
        height: 100%;
    }
}
